RewriteEngine On
# Se o arquivo ou diretório solicitado não existir fisicamente...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# ...mande tudo para o index.php
RewriteRule ^(.*)$ index.php [L,QSA]